Falcor/Tests/Bin/*
Falcor/Tests/TestsResults/*
Falcor/Tests/TestConfigsDev/*
Falcor/Tests/.vs/*
Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc
Falcor/Falcor.VC.db
Falcor/FalcorTest.VC.db
Falcor/Framework/BuildScripts/PatchFalcorProps/PatchFalcorPropertySheet/PatchFalcorPropertySheet.VC.db
Falcor/FalcorTest/TestResults/*
Falcor/Falcor.VC.VC.opendb
Falcor/Framework/Externals/NVAPI/
.vs/*
*.pyc
*.o
*slang-dump-*

# A bit of a song and dance to ignore all the files
# in the Slang codebase except for the ones we need.
Falcor/Framework/Externals/slang/*
!Falcor/Framework/Externals/slang/source/
Falcor/Framework/Externals/slang/source/**/*.vcxproj
Falcor/Framework/Externals/slang/source/**/*.filters
Falcor/Framework/Externals/slang/source/**/*.natvis
!Falcor/Framework/Externals/slang/source/**/*.cpp
!Falcor/Framework/Externals/slang/source/**/*.cpp
!Falcor/Framework/Externals/slang/source/**/*.h
Falcor/Framework/Externals/
Falcor/Media
